<template name="account">
  <div class="box middle-box padded">

    <div class="form">
      <h1>Account</h1>
      <hr />
      <div class="group">
        <h3>Export your collections</h3>
        <p>You can export all your collections and fragments at any time by clicking the button below.</p>
        <a href="#" class="button primary" data-export><i class="fa fa-download"></i> Export data to JSON</a>
      </div>
      <hr />
      <div class="group">
        <div class="input-file">
          <h3>Import your collections</h3>
          <p>Data which uses the Fragments schema can be imported into your user. We'll take care of creating all the collections that don't exist, and assign your Fragments to them.</p>
          <label for="import_data" class="button primary"><i class="fa fa-plus-circle"></i> Import data from JSON
            <input type="file" id="import_data" name="file" accept="application/json, text/json" data-import />
          </label>
        </div>
      </div>
      {{#if displayChromeExension}}
        <hr />
        <div class="group">
          <h3>Google Chrome Extension</h3>
          <p>You can install the Fragments.me Chrome extension by clicking the button below.</p>
          <button onclick="chrome.webstore.install()" class="button primary"><i class="fa fa-chrome"></i> Install extension</button>
        </div>
      {{/if}}
      {{#if displayAndroidExension}}
        <hr />
        <div class="group">
          <h3>Android "Save to fragments" extension</h3>
          <p>You can install the Android extension by clicking the button below to download the APK. You will need to allow installing apps from unknown sources to continue. This can be disabled once you have installed the extension.</p>
          <a class="button primary" href="/assets/misc/fragments.apk" alt="Download Fragments app"><i class="fa fa-android"></i> Download .apk</button>
        </div>
      {{/if}}
    </div>
  </div>
</template>