<template name="searchView">
  <div class="box middle-box">
    <ul class="list">
      {{#each searchHistory}}
        {{> searchHistoryItem}}
      {{/each}}
      {{#if hasHistory}}
        <li>
          <a href="#" data-clear class="with-icon">
            {{> icon_bin}}
            <h4>Clear search history</h4>
          </a>
        </li>
      {{/if}}
    </ul>
  </div>
  {{#if tagsLoaded}}
    {{#if tags.length}}
      <div class="box middle-box tags-list">
        <h3>Filter by your tags</h3>
        <p>Click on any tag to view your fragments tagged with such tag.</p>
        <div class="tags">
          {{#each tags}}
            <a href="#">{{_id}}</a>
          {{/each}}
        </div>
      </div>
    {{/if}}
  {{/if}}
  <div class="box middle-box">
    <ul class="list">
      <li>
        <a href="/"><h4>Close search</h4></a>
      </li>
    </ul>
  </div>
</template>