<template name="searchView">
  <div class="box middle-box">
    <ul class="list">
      {{#each searchHistory}}
        {{> searchHistoryItem}}
      {{/each}}
      {{#if hasHistory}}
        <li>
          <a href="#" data-clear class="with-icon">
            {{> icon_bin}}
            <h4>Clear search history</h4>
          </a>
        </li>
      {{/if}}
    </ul>
  </div>
  <div class="box middle-box">
    <ul class="list">
      <li>
        <a href="/" class="with-icon"><h4>Close search</h4></a>
      </li>
    </ul>
  </div>
</template>