<template name="searchView">
  <div class="box middle-box">
    <ul class="list">
      {{#each searchHistory}}
        {{> searchHistoryItem}}
      {{/each}}
      {{#if hasHistory}}
        <li>
          <a href="#" data-clear class="with-icon">
            {{> iconBin}}
            <h4>Clear search history</h4>
          </a>
        </li>
      {{/if}}
    </ul>
  </div>
  {{#if tagsLoaded}}
    {{#if tags.length}}
      <div class="box middle-box tags-list">
        <h3>Filter by {{#if collection}}this collection{{else}}your{{/if}} tags</h3>
        <p>Click on any tag to view your fragments tagged with such tag.</p>
        <div class="tags">
          {{#each tags}}
            <a href="#">{{_id}}</a>
          {{/each}}
        </div>
      </div>
    {{/if}}
  {{/if}}
  {{#if collaborators.length}}
    <div class="box middle-box collaborators-list">
      <h3>Filter by person</h3>
      <p>Click on the thumbnail of a collaborator (or yourself) to filter by fragments added by that person.</p>
      <div class="collaborators">
        {{#each collaborators}}
          <a href="#"><img src="{{picture}}" data-collaborator="{{_id}}"/> {{name}}</a>
        {{/each}}
      </div>
    </div>
  {{/if}}
  <div class="box middle-box">
    <ul class="list">
      <li>
        <a href="{{#if collection}}{{pathFor route='collection' data=collection}}{{else}}/{{/if}}"><h4>Close search</h4></a>
      </li>
    </ul>
  </div>
</template>