<head>
  <title>Fragments</title>
  <meta name="fragment" content="!">
  <meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=no' />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">
  <meta name="description" content="Collect and organise your articles — You use too many tools, and they have too many features. Fragments does one thing, and it does marvelously; save your bookmarks into articles and tag them as you go.">
  <meta name="theme-color" content="#FFFFFF">
  <meta charset="utf-8">
  <meta property="og:image" content="/assets/img/logo.png">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="/assets/img/logo.png">
  <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/fjpkkjpkebpfcfdhabnccoeefbolmkcp">
</head>
