%appareance {
  -moz-appareance: none;
  -o-appareance: none;
  -webkit-appearance: none;
  appearance: none;
}

%vertically-centered {
  text-align: center;
  height: 100%;

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

%not-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

%ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

%clear {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%tag {
  display: inline-block;
  border: 1px solid #BBB;
  text-decoration: none;
  color: #888;
  border-radius: 15px;
  font-size: 1rem;
  padding: 0.4rem 1rem;
  margin: 0 0.4rem 0.7rem 0;
  @extend %ellipsis;

  &.current {
    border-color: #AAA;
    background-color: #BBB;
    color: #FFF;
  }
}

%collaborator {
  border: 1px solid #BBB;
  border-radius: 15px;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  text-decoration: none;
  margin-right: 1rem;
  padding: 0.1rem 0.5rem 0.1rem 0.1rem;
  color: #888;

  img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 0.4rem;
  }
}