%appareance {
  -moz-appareance: none;
  -o-appareance: none;
  -webkit-appearance: none;
  appareance: none;
}

%vertically-centered {
  text-align: center;
  height: 100%;

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

%not-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

%ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

%clear {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%tag {
  display: inline-block;
  border: 1px solid #BBB;
  text-decoration: none;
  color: #888;
  border-radius: 15px;
  font-size: 1rem;
  padding: 0.4rem 1rem;
  margin: 0 0.4rem 0.7rem 0;
  @extend %ellipsis;
}