#header {
  @include transition(background-color 0.3s);
  position: fixed;
  height: $header-height;
  top: 0;
  width: 100%;
  background-color: #FFF;
  z-index: 2;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);

  .with-modal & {
    @include filter(blur(1px));
  }

  .row {
    @extend .flex;
  }

  .left-section {
    display: flex;
    flex: 0 1 auto;
    min-width: 30%;
    padding-right: 1rem;

    @include below ($break-phone) {
      min-width: auto;
    }
  }

  .middle-section {
    flex: 1;
    justify-content: center;
  }

  .right-section {
    flex: 0 1 auto;
    min-width: 30%;
    text-align: right;
    padding-left: 1rem;

    @include below ($break-phone) {
      min-width: auto;
    }

    > div {
      float: right;
    }
  }

  .title-bar {
    line-height: $header-height;

    h1 {
      flex: 1;
      display: inline-block;
      font-size: 2.3rem;

      @include below ($break-phone) {
        display: none;
      }

      a {
        text-decoration: none;
      }

      svg {
        fill: rgba(0, 0, 0, 0.35);
        vertical-align: middle;
        width: 15px;
        height: 15px;

        &.icon-lock-on {
          margin-top: -6px;
        }

        &.icon-eye {
          width: 20px;
          height: 20px;
          margin-top: -5px;
        }
      }
    }
  }

  .search-bar {
    display: flex;
    margin: 10px 0;
    background: #F5F5F5;
    border-radius: 4px;
    height: 40px;
    white-space: nowrap;
    overflow: hidden;

    .search-icon {
      fill: rgba(0,0,0,0.3);
      margin: 8px 15px 0 0;
      vertical-align: top;
      padding-left: 16px;

      svg {
        width: 24px;
        height: 24px;
      }
    }

    .input {
      flex: 1;
      height: 100%;
      padding-right: 16px;

      input {
        width: 100%;
        height: 100%;
        display: inline-block;
        border: 0;
        background-color: transparent;
        font-size: 1.6rem;
        font-weight: $medium;
      }
    }

    .tag {
      padding: 0.8rem 0.3rem 0 0;

      a {
        @extend %tag;
        position: relative;
        background: #FFF;
        font-size: 1.5rem;

        svg {
          width: 10px;
          height: 10px;
          fill: rgba(0,0,0,0.3);
        }
      }
    }

    .clear-search {
      fill: rgba(0,0,0,0.3);
      padding: 13px;
      width: 40px;
      height: 100%;

      &:hover {
        fill: rgba(0,0,0,0.5);
      }
    }
  }

  .user {
    position: relative;

    .handle {
      $size: 3.5rem;
      width: $size;
      height: $size;
      border-radius: 50%;
      background-color: #DDD;
      background-size: cover;
      background-position: center;
      margin: 1.2rem 0 0 0;
      display: block;
    }
  }

  .user-tooltip {
    position: absolute;
    top: -0.2rem;
    right: 0;
    background: #FFF;
    box-shadow: 0 0 5px rgba(0,0,0,0.15);
    max-width: 300px;

    .flex {
      padding: 1.5rem 2rem;
    }

    .pic {
      flex: 0 1 auto;
      padding-right: 2rem;

      img {
        $size: 70px;
        width: $size;
        height: $size;
        border-radius: 50%;
      }
    }

    .details {
      min-width: 100px;
      flex: 1;
      text-align: left;
      white-space: nowrap;

      h3 {
        font-size: 1.7rem;
        margin-bottom: 0.5rem;
        cursor: default;
      }

      p {
        font-size: 1.3rem;
        margin-bottom: 1rem;
        cursor: default;
      }
    }

    .actions {
      background-color: #FAFAFA;
      border-top: 1px solid #EFEFEF;
    }
  }

  &.theme-light {

    h1 a, .nav-toggle {
      opacity: 0.5;
    }

    .search-bar {
      background-color: #FFF;
    }
  }
}