<template name="modal">
  <div id="modal">
    {{#if showOnboarding}}
      <div class="modal-content">
        <img src="/assets/img/website/feature-links.png" />
        <h1>What's new?</h1>
        <p>You can now <strong>share fragments <i class="fa fa-paper-plane"></i></strong> to your friends <strong>by email</strong>! Right click on any fragment and check out the new sharing option!</p>
        <hr />
        <p>Furthermore, our shiny <a href="https://chrome.google.com/webstore/detail/fragmentsme/fjpkkjpkebpfcfdhabnccoeefbolmkcp" target="_blank"><strong>Chrome Extension</strong></a> now lets you select in which collections your fragments should be saved to!</p>
        <hr />
        <a href="#" class="button block primary big" data-dismiss>Dismiss</a>
      </div>
    {{/if}}
    {{#if showShare}}
      <div class="modal-content">
        {{#if fragment}}
          <div class="preview">
            <h2>{{fragment.title}}</h2>
            <a href="{{fragment.url}}" target="_blank">{{fragment.url}}</a>
          </div>
          <hr />
        {{/if}}
        <p>Please type the email address of the recipient that should receive your fragment.<br /><br /></p>
        <form class="form" data-share>
          <div class="group">
            <input type="email" required placeholder="Email address" disabled="{{#if busy}}disabled{{/if}}" />
          </div>
          <hr />
          {{#if busy}}
            {{> progressBar}}
          {{else}}
            <input type="submit" class="button block primary big" data-share value="Share" />
          {{/if}}
        </form>
      </div>
    {{/if}}
  </div>
</template>