.sidebar {
  $size: 250px;

  @include transition(left 0.2s, right 0.2s, visibility 0.5s);
  position: fixed;
  top: 0;
  bottom: 0;
  left: -$size;
  width: $size;
  visibility: hidden;
  z-index: 100;
  background-color: #FFF;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  overflow-y: auto;

  &.open {
    left: 0;
    visibility: visible;
  }

  &.sidebar-right {
    background-color: #FFF;
    left: auto;
    right: -$size;

    &.open {
      left: auto;
      right: 0;
    }
  }

  .title {
    height: $header-height;
    padding-left: 1.2rem;
    border-bottom: 1px solid #EEE;

    h1 {
      font-size: 2.3rem;
      height: 100%;
      line-height: $header-height;
    }
  }

  hr {
    margin: 2rem 0;
    border-top-color: #EEE;
  }

  ul.nav-list {

    li {
      $height: 47px;
      height: $height;
      border-bottom: 1px solid #EEE;
      margin-bottom: -1px;

      .item {
        @include transition(background-color 0.2s);
        position: relative;
        display: flex;
        height: 100%;

        span {
          @include transition(width 0.2s);
          flex: 0 1 auto;
          width: 6px;
          height: 100%;
        }

        .content {
          @include transition(opacity 0.2s);
          flex: 1;
          text-decoration: none;
          height: 100%;
          padding-left: 1rem;
          display: flex;
          justify-content: center;
          flex-direction: column;

          h4 {
            @extend %ellipsis;
            line-height: 1;
          }

          p {
            @extend %ellipsis;
            font-size: 1rem;
            margin: 4px 0 0 0;
            line-height: 1;
          }
        }

        .icon {
          @include transition(background-color 0.2s);
          width: 34px;
          height: 100%;
          text-align: center;
          text-decoration: none;

          .fa {
            @include transition(color 0.2s);
            display: none;
            color: rgba(0,0,0,0.3);
            font-size: 1.6rem;
            margin-top: 1.3rem;

            &.fa-plus {
              font-size: 1.5rem;
              margin-top: 1.5rem;
            }
          }

          &:hover {

            .fa {
              color: rgba(0,0,0,0.8);
            }
          }
        }

        &.action {

          h4 {
            color: #AAA;
          }

          .icon {

            .fa {
              display: block;
            }
          }

          &:hover {

            h4 {
              color: #666;
            }
          }
        }

        &:hover, .is-touch & {

          .icon {

            .fa {
              display: block;
            }
          }
        }
      }

      &.current .collection span, .collection:hover span {
        width: 12px;
      }

      &.current {

        .content {

          h4 {
            font-weight: $bold;
          }

          &:hover {
            cursor: default;
          }
        }
      }
    }
  }
}