<template name="collectionSettings">
  <div class="box middle-box padded">
    <form class="form">
      <h1>Collection settings</h1>
      <hr />
      <div class="group">
        <label for="f-name">Collection name</label>
        <input id="f-name" type="text" name="name" value={{collection.name}} placeholder="Collection name" />
      </div>
      <div class="group">
        <label>Collection colour</label>
        <div class="colors-list bordered">
          {{> collectionColors current=collection.color}}
        </div>
      </div>
      <hr />
      <div class="group flex">
        <div class="description">
          <label for="f-visible">Show in dashboard</label>
          <p>Choose whether this collection fragments will be shown under all collections.</p>
        </div>
        <div class="toggle">
          <input id="f-is-visible" name="is_visible" type="checkbox" checked={{collectionIsVisible}} />
          <label for="f-is-visible"></label>
        </div>
      </div>
      <hr />
      <div class="group flex">
        <div class="description">
          <label>Allow sharing</label>
          <p>Choose whether this collection can be shared by copying its public URL.</p>
        </div>
        <div class="toggle">
          <input id="f-is-public" name="is_public" type="checkbox" checked={{collection.is_public}} />
          <label for="f-is-public"></label>
        </div>
      </div>
      <hr />
      <div class="group">
        <div class="description">
          <label>Collaboration</label>
          <p>
            The following url can be used to invite more people to contribute to this collection.<br /><input type="url" class="url" value={{urlFor route='collectionCollaborate' data=collection}} readonly />
          </p>
          {{#if hasMany collection.collaborators}}
            <table class="table">
              {{#each collection.collaborators}}
                <tr data-collaborator-id={{_id}}>
                  <td>
                    <img class="thumbnail" src="{{picture}}" />
                  </td>
                  <td>
                    <strong>{{name}}</strong>
                  </td>
                  <td>
                    <span>{{role}}</span>
                  </td>
                  <td class="align-right">
                    {{#unless equals role 'owner'}}
                      <a href="#" class="button" data-remove-collaborator onclick="return confirm('Are you sure you want to remove this collaborator from accessing this collection?')">Remove</a>
                    {{/unless}}
                  </td>
                </tr>
              {{/each}}
            </table>
          {{/if}}
        </div>
      </div>
      <hr />
      <div class="group">
        <input type="submit" class="button primary" value="Save changes"/>
        <button class="button danger" data-delete onclick="return confirm('Are you sure?')">Delete collection</button>
      </div>
    </form>
  </div>
</template>