<template name="collectionSettings">
  <div class="box middle-box padded">
    <form class="form">
      <h1>Collection settings</h1>
      <hr />
      <div class="group">
        <label>Collection name</label>
        <input type="text" name="name" value={{collection.name}} placeholder="Collection name" />
      </div>
      <div class="group">
        <label>Collection colour</label>
        <div class="colors-list bordered">
          {{> collectionColors current=collection.color}}
        </div>
      </div>
      <hr />
      <div class="group flex">
        <div class="description">
          <label>Show in dashboard</label>
          <p>Choose whether this collection fragments will be shown under all collections.</p>
        </div>
        <div class="toggle">
          <input id="show_in_dashboard" name="show_in_dashboard" type="checkbox" checked={{showInDashboard}} />
          <label for="show_in_dashboard"></label>
        </div>
      </div>
      <hr />
      <div class="group">
        <input type="submit" class="button primary" value="Save changes"/>
        <button class="button danger" data-delete onclick="return confirm('Are you sure?')">Delete collection</button>
      </div>
    </form>
  </div>
</template>