.colors-list {
  @extend %clear;
  background-color: #FFF;
  padding: 1.3rem 1rem;
  border-radius: 4px;

  &.bordered {
    border: 2px solid $color-borders;
  }

  h4 {
    font-size: 1.3rem;
    font-weight: $medium;
    color: #AAA;
    margin-bottom: 1.5rem;
  }

  li {
    float: left;
    margin: 0 5px 5px 0;

    label {
      @include transition(transform 0.1s);
      position: relative;
      width: 20px;
      height: 20px;
      display: block;
      border-radius: 50%;
      cursor: pointer;

      &:hover {
        @include transform(scale(1.1));

        input {
          opacity: 0.5;
        }
      }

      input {
        @include transition(opacity 0.3s);
        @extend %appareance;
        width: 14px;
        height: 14px;
        background: #FFF;
        border-radius: 50%;
        margin: 3px 0 0 3px;
        cursor: pointer;

        &:checked {
          opacity: 0;
        }
      }
    }
  }
}