<template name="sidebarAddCollection">
  <form class="form">
    <h2>Add new collection</h2>
    <div class="group">
      <input name="name" type="text" placeholder="Collection name"/>
    </div>
    <div class="group">
      <div class="colors-list">
        <h4>Collection color</h4>
        {{> collectionColors}}
      </div>
    </div>
    <div class="group">
      <button type="submit" class="button block primary">
        <i class="fa fa-plus-circle"></i> Create
      </button>
    </div>
  </form>
</template>