<template name="headerSearchBar">
  <div class="search-bar">
    <div class="search-icon">
      {{> iconSearch}}
    </div>
    {{#if currentTag}}
      <div class="tag">
        <a href="#" data-remove-tag>{{currentTag}} {{> iconDelete}}</a>
      </div>
    {{/if}}
    {{#if currentCollaborator}}
      <div class="collaborator">
        <a href="#" data-remove-collaborator>{{{currentCollaborator}}} {{> iconDelete}}</a>
      </div>
    {{/if}}
    <div class="input">
      <input type="text" placeholder={{searchBarPlaceholder}} value={{currentSearch}} />
    </div>
    {{#if currentSearch}}
      <a href="#" class="clear-search" data-clear-search>
        {{> iconDelete}}
      </a>
    {{/if}}
  </div>
</template>