<template name="header">
  <header id="header" class="{{#if collection}}with-collection{{/if}} {{#if theme}}theme-{{theme.theme}}{{/if}}" style="{{#if collection}}background-color:{{collection.color}}{{/if}}">
    <div class="row flex">
      <div class="left-section title-bar">
        <a href="#" class="nav-toggle {{#if hasBackArrow}}open{{/if}}" data-nav-toggle><span></span></a>
        <h1>
          {{#if collection}}
            <a href={{pathFor route='collection' data=collection}}>{{collection.name}}</a>
            {{#unless collection.is_public}}
              {{> iconLockOn}}
            {{/unless}}
          {{else}}
            <a href="/">Fragments</a>
          {{/if}}
        </h1>
      </div>
      <div class="middle-section">
        {{#if hasSearchBar}}
          {{> headerSearchBar}}
        {{/if}}
      </div>
      <div class="right-section">
        <div>
          <div class="notifications">
            <a href="#" class="handle">
              <i class="fa fa-bell-o"></i>
            </a>
          </div>
          <div class="user">
            <a href="#" data-toggle-tooltip class="handle" alt="{{currentUser.profile.name}}" style="background-image: url({{currentUser.profile.picture}})"></a>
            {{#if userTooltipIsOpen}}
              {{> headerUserTooltip}}
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </header>
</template>