<template name="sidebar">
  <section id="left-sidebar" class="sidebar {{#if isOpen}}open{{/if}}">
    <div class="title">
      <h1>Fragments</h1>
    </div>
    <ul class="nav-list">
      <li class="all {{#if isAllCollections}}current{{/if}}">
        <div class="item">
          <span></span>
          <a class="content" href={{pathFor 'home'}} data-close>
            <h4><i class="fa fa-globe"></i> All collections</h4>
          </a>
        </div>
      </li>
      <li class="favourites {{#if isFavourites}}current{{/if}}">
        <div class="item">
          <span></span>
          <a class="content" href={{pathFor 'home' query='favourites=1'}} data-close>
            <h4><i class="fa fa-star"></i> All favourites</h4>
          </a>
        </div>
      </li>
      {{#each collections}}
        {{> sidebarCollection}}
      {{/each}}
      {{#unless isAddingNewCollection}}
        <li>
          <div class="item action">
            <span></span>
            <a href="#" class="content" data-add-collection>
              <h4>Add new collection</h4>
            </a>
            <a class="icon" href="#" data-add-collection>
              <i class="fa fa-plus"></i>
            </a>
          </div>
        </li>
      {{/unless}}
    </ul>
    {{#if isAddingNewCollection}}
      {{> sidebarAddCollection}}
    {{/if}}
  </section>
</template>