#website-footer {
  background-color: #FAFAFA;
  padding: 8rem 0;
  text-align: center;

  h3 {
    font-size: 2rem;
    color: #BBB;

    a {
      text-decoration: none;
      color: #BBB;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}