#website {
  background-color: #FFF;
  min-height: 100%;

  .row {
    max-width: 1120px;
  }

  .emotion {
    padding: 8rem 0;
    text-align: center;

    @include below ($break-phone) {
      padding: 4rem 0;
    }

    h2 {
      font-size: 3rem;
      margin-bottom: 3rem;

      a {
        text-decoration: none;
        border-bottom: 1px dotted #AAA;
      }

      @include below ($break-phone) {
        font-size: 2.3rem;
      }
    }
  }
}