#website-main {
  line-height: 1.4;

  p {
    line-height: 1.8;
    color: #555;
  }

  #teaser {
    padding-top: 3rem;

    @include below ($break-phone) {
      padding-top: 1rem;
    }

    .row {
      display: flex;
      padding-bottom: 0;

      @include below ($break-phone) {
        flex-direction: column;
      }
    }

    .content {
      flex: 1;
      max-width: 60%;
      align-self: flex-end;
      padding-bottom: 5rem;

      @include below ($break-phone) {
        max-width: none;
        padding-bottom: 3rem;
      }

      h1 {
        font-size: 4.2rem;
        margin-bottom: 2rem;
        font-weight: $bold;
      }

      p {
        margin-bottom: 5rem;

        @include below ($break-phone) {
          margin-bottom: 3rem;
        }
      }

      .button {

        @include below ($break-phone) {
          display: block;
          text-align: center;
        }
      }
    }

    aside {
      flex: 1;
      padding: 0 1rem 0 4rem;

      @include below ($break-phone) {
        padding: 0;
      }

      .image {
        position: relative;
        min-height: 500px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border: 2px solid #E0E4E8;
        border-bottom: 0;
        overflow: hidden;

        @include below ($break-phone) {
          min-height: 250px;
        }

        header {
          height: 40px;
          background-color: #E0E4E8;
          padding: 10px 0 0 10px;

          span {
            display: inline-block;
            background-color: #c4cbd4;
            border-radius: 50%;
            width: 14px;
            height: 14px;
            margin-right: 7px;
          }
        }

        .bg {
          position: absolute;
          background: url(/assets/img/website/hero-app.jpg) no-repeat top left;
          background-size: cover;
          width: 100%;
          height: 100%;
          top: 40px;
          left: 0;
        }
      }
    }
  }

  #features {
    background-color: #FAFAFA;
    padding: 8rem 0;

    @include below ($break-phone) {
      padding: 3rem 0;
    }

    .feature {
      width: 100%;
      display: flex;
      margin-bottom: 3rem;

      @include below ($break-phone) {
        margin-bottom: 4rem;
      }

      &:last-child {
        margin-bottom: 0;
      }

      .content {
        width: 50%;
        padding: 4rem;

        @include below ($break-phone) {
          width: 100%;
          padding: 0;
        }

        h2 {
          font-size: 2rem;
          margin-bottom: 2rem;

          @include below ($break-phone) {
            margin-bottom: 1rem;
          }
        }

        p {
          color: #888;
        }
      }

      aside {
        flex: 1;
        display: flex;
        width: 50%;

        @include below ($break-phone) {
          display: none;
        }

        .image {
          width: 100%;
          height: 100%;
          background: no-repeat center;
          background-size: contain;

          @include below ($break-phone) {
            width: 150px;
          }
        }
      }

      &:nth-child(1) aside .image {
        background-image: url(/assets/img/website/feature-links.png);
      }

      &:nth-child(2) aside .image {
        background-image: url(/assets/img/website/feature-search.png);
      }

      &:nth-child(3) aside .image {
        background-image: url(/assets/img/website/feature-collaborate.png);
      }
    }
  }
}