#website-main {

  #teaser {
    padding: 3rem 0;

    .row {
      display: flex;
    }

    .content {
      max-width: 60%;

      h1 {
        font-size: 4rem;
        margin-bottom: 2rem;
      }

      p {
        margin-bottom: 5rem;
      }

      a {

      }
    }
  }
}