#website-main {
  line-height: 1.4;

  p {
    line-height: 1.8;
    color: #555;
  }

  #teaser {
    padding-top: 3rem;

    .row {
      display: flex;
      padding-bottom: 0;
    }

    .content {
      flex: 1;
      max-width: 60%;
      align-self: flex-end;
      padding-bottom: 5rem;

      h1 {
        font-size: 4.2rem;
        margin-bottom: 2rem;
        font-weight: $bold;
      }

      p {
        margin-bottom: 5rem;
      }

      a {

      }
    }

    aside {
      flex: 1;
      padding: 0 1rem 0 4rem;

      .image {
        position: relative;
        min-height: 500px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border: 2px solid #E0E4E8;
        border-bottom: 0;
        overflow: hidden;

        header {
          height: 40px;
          background-color: #E0E4E8;
          padding: 10px 0 0 10px;

          span {
            display: inline-block;
            background-color: #c4cbd4;
            border-radius: 50%;
            width: 14px;
            height: 14px;
            margin-right: 7px;
          }
        }

        .bg {
          position: absolute;
          background: url(/assets/img/website/hero-app.jpg) no-repeat top left;
          background-size: cover;
          width: 100%;
          height: 100%;
          top: 40px;
          left: 0;
        }
      }
    }
  }

  #features {
    background-color: #FAFAFA;
    padding: 8rem 0;

    .feature {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 8rem;

      &:last-child {
        margin-bottom: 0;
      }

      .content {
        flex: 1;
        width: 50%;
        padding-left: 9rem;
        padding-right: 7rem;

        h2 {
          font-size: 2rem;
          margin-bottom: 2rem;
        }

        p {
          color: #888;
        }
      }

      aside {
        flex: 1;
        width: 50%;

        .image {
          width: 240px;
          height: 160px;
          background-color: #EEE;
          border-radius: 5px;
        }
      }
    }
  }
}