#website-header {

  .row {
    display: flex;
    padding-top: 4rem;
    padding-bottom: 4rem;
    align-items: center;
    justify-content: center;

    @include below ($break-phone) {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  }

  .brand {
    flex: 1;

    a {
      text-decoration: none;
      font-size: 3rem;
    }
  }

  .actions {
    flex: 0 1 auto;

    .button {
      font-size: 1.3rem;

      .transparent {

        @include below ($break-phone) {
          display: none;
        }
      }
    }
  }
}