<template name="login">
  <div class="box middle-box padded">
    <form>
      <input type="email" placeholder="Email"/>
      <input type="password" placeholder="Password" />
      <a href={{pathFor 'reset_password'}}>Forgot password</a>
      {{#if error}}
        <p class="error">{{error}}</p>
      {{/if}}
      <input type="submit" value="Sign in" />
    </form>
    <hr />
    <a href="#" data-google>Sign in with Google</a>
    <hr />
    <a href={{pathFor 'register'}}>Sign up</a>
  </div>
</template>