<template name="register">
  <div class="box middle-box padded margins">
    <form class="form">
      <h1>Sign up</h1>
      <div class="group">
        <p>Just one step and you're in. There's no need to use a "10 minutes email", as we'll never email you aside a single welcome email.</p>
      </div>
      <div class="group">
        <input name="name" type="text" placeholder="Name"/>
      </div>
      <div class="group">
        <input type="email" placeholder="Email"/>
      </div>
      <div class="group">
        <input name="password" type="password" placeholder="Password" />
      </div>
      <div class="group">
        <input name="confirm_password" type="password" placeholder="Confirm password" />
      </div>
      {{#if error}}
        <div class="group">
          <p class="error">{{error}}</p>
        </div>
      {{/if}}
      <div class="group">
        <input type="submit" value="Create account" class="button primary big block" />
      </div>
      <hr />
      <div class="group center">
        <p>Do you already have an account? <a href={{pathFor 'login'}}>Log in</a></p>
      </div>
    </form>
  </div>
</template>