<template name="reset_password">
  <div class="box middle-box padded margins">
    {{#if passwordHasBeenReset}}
      <p>Your password has been updated.</p>
      <a href={{pathFor 'login'}} class="button primary">Log in</a>
    {{else}}
      {{#if emailHasBeenSent}}
        <p>Email reset instructions has been sent. Please check your inbox folder to continue.</p>
      {{else}}
        {{#if token}}
          <form name="new_password" class="form">
            <h1>Choose new password</h1>
            <div class="group">
              <input type="password" placeholder="New password"/>
            </div>
            <div class="group">
              <input type="submit" value="Reset password" class="button big block primary"/>
            </div>
          </form>
        {{else}}
          <form name="reset_password" class="form">
            <h1>Find your account</h1>
            <div class="group">
              <p>Forgot your password? Type the email address you have used to sign up and we'll reset an email to reset your password.</p>
            </div>
            <div class="group">
              <input type="email" placeholder="Your email address"/>
            </div>
            <div class="group">
              <input type="submit" value="Send recovery email" class="button big block primary"/>
            </div>
          </form>
        {{/if}}
      {{/if}}
    {{/if}}
  </div>
</template>