<template name="reset_password">
  {{#if passwordHasBeenReset}}
    <p>Your password has been updated.</p>
    <a href={{pathFor 'login'}}>Log in</a>
  {{else}}
    {{#if emailHasBeenSent}}
      <p>Email reset instructions has been sent.</p>
    {{else}}
      {{#if token}}
        <form name="new_password">
          <input type="password" placeholder="New password"/>
          <input type="submit" value="Reset password" />
        </form>
      {{else}}
        <form name="reset_password">
          <input type="email" placeholder="Email"/>
          <input type="submit" value="Send recovery email" />
        </form>
      {{/if}}
    {{/if}}
  {{/if}}
</template>