.bert-alert {

  > .bert-container {

    > .bert-content {

      p {

        a {
          color: #FFF;
          font-weight: bold;
          text-decoration: none;
          border-bottom: 1px dotted rgba(255,255,255,0.8);
        }
      }
    }
  }
}