.box {
  background-color: #FFF;
  border-radius: 4px;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.05);
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }

  &.padded {
    padding: 3rem;
  }

  &.margins {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .lead-icon {
    width: 220px;
    margin-bottom: 2.3rem;
  }

  h3 {
    color: #777;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  h3 + p {
    color: #AAA;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
}

.middle-box {
  margin-left: auto;
  margin-right: auto;
  max-width: 40%;

  @include below (1000px) {
    max-width: 400px;
  }
}

.message-box {
  text-align: center;
  margin-top: 3rem;

  h2 {
    font-size: 3rem;
    font-weight: $light;
    margin-bottom: 2rem;
  }

  p {
    color: #999;
  }
}