.button {
  @include transition(background-color 0.1s, transform 0.2s);
  display: inline-block;
  background: $color-default;
  border: 0;
  border-radius: 4px;
  text-decoration: none;
  padding: 0.9rem 1rem;
  font-size: 1.2rem;
  font-weight: $medium;
  cursor: pointer;

  &.block {
    display: block;
    width: 100%;
    text-align: center;
  }

  &.big {
    padding: 1.5rem;
    font-size: 1.6rem;
  }

  &.left-icon {
    position: relative;

    svg {
      fill: #FFF;
      position: absolute;
      top: 8px;
      left: 10px;
      width: 30px;
      height: 30px;
    }

    &:before {
      content: "";
      position: absolute;
      height: 100%;
      width: 1px;
      top: 0;
      left: 46px;
      background-color: rgba(0,0,0,0.1);
    }
  }

  &:hover {
    background-color: darken($color-default, 5%);
  }

  &:active {
    transform: scale(0.98);
    background-color: darken($color-default, 10%);
  }

  &.transparent {
    background-color: transparent;
  }

  &.primary {
    background-color: $color-primary;
    color: #FFF;

    &:hover {
      background-color: lighten($color-primary, 5%);
    }

    &:active {
      background-color: darken($color-primary, 5%);
    }
  }

  &.danger {
    background-color: $color-danger;
    color: #FFF;

    &:hover {
      background-color: lighten($color-danger, 5%);
    }

    &:active {
      background-color: darken($color-danger, 5%);
    }
  }

  &.google {
    background-color: $color-google;
    color: #FFF;

    &:hover {
      background-color: lighten($color-google, 5%);
    }

    &:active {
      background-color: darken($color-google, 5%);
    }
  }

  &.twitter {
    background-color: $color-twitter;
    color: #FFF;

    &:hover {
      background-color: lighten($color-twitter, 5%);
    }

    &:active {
      background-color: darken($color-twitter, 5%);
    }

    svg {
      width: 24px;
      height: 24px;
      top: 11px;
      left: 12px;
    }
  }
}

input[type="submit"].button.block.big {
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
}