.contextual-menu {
  @include transition(opacity 0.25s);
  position: absolute;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  width: 0;
  height: 0;
  top: -9999px;
  left: -9999px;

  &.open {
    opacity: 1;
    pointer-events: all;
  }

  .with-modal & {
    z-index: 5;
  }

  ul {
    background-color: #FFF;
    box-shadow: 1px 1px 14px rgba(0,0,0,0.13);
    border: 1px solid #DDD;
    border-radius: 4px;
    min-width: 170px;
    max-width: 250px;

    li {
      position: relative;

      a {
        @extend %ellipsis;
        display: block;
        padding: 1rem 1.3rem;
        text-decoration: none;
        font-weight: $medium;
        font-size: 1.3rem;

        i {
          width: 15px;
          margin-right: 10px;
          pointer-events: none;

          &.right {
            margin-right: -10px;
            margin-left: 30px;
            opacity: 0.2;
          }
        }

        &:hover {
          background-color: #EFEFEF;
        }
      }

      &.danger {

        a {
          color: $color-danger;

          &:hover {
            color: #FFF;
            background-color: $color-danger;
          }
        }
      }

      &:first-child a {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }

      &:last-child a {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
      }

      ul {
        display: none;
        position: absolute;
        z-index: 101;
        top: 0;
        left: 100%;
        margin-top: -10px;
        margin-left: -35px;
        min-width: 150px;
        max-height: 300px;
        overflow-y: auto;

        li {

          a {
            display: flex;

            span {
              position: relative;
              width: 12px;
              height: 12px;
              border-radius: 50%;
              margin-right: 10px;

              &:before {
                @include transition(opacity 0.5s);
                content: " ";
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: #FFF;
                position: absolute;
                top: 2px;
                left: 2px;
              }
            }

            div {
              @extend %ellipsis;
              flex: 1;
            }
          }

          &.active a {

            span {

              &:before {
                opacity: 0;
              }
            }
          }
        }
      }

      &:hover {

        ul {
          display: block;
        }
      }
    }
  }
}