.form {

  h1 {
    font-size: 2.5rem;
    text-align: center;
    font-weight: $light;
    margin-bottom: 3rem;
  }

  .group {
    @extend %clear;
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 0;
    }

    &.center {
      text-align: center;
    }

    input[type="email"], input[type="text"], input[type="password"] {
      @include transition(border-color 0.2s);
      display: block;
      width: 100%;
      border: 2px solid #EEE;
      padding: 1.3rem 1.1rem;
      font-size: 1.4rem;
      font-weight: $medium;
      border-radius: 4px;

      &:focus {
        border-color: #CCC;
      }
    }

    hr {
      margin: 2rem 0;
    }

    p {
      color: #888;

      a {
        text-decoration: none;
        color: #888;
        border-bottom: 1px dotted #AAA;

        &:hover {
          color: #000;
        }
      }

      &.error {
        background-color: $color-error;
        padding: 1rem;
        color: #FFF;
        border-radius: 4px;
        border: 2px solid darken($color-error, 5%);
      }
    }

    .note {
      display: inline-block;
      margin: 0.5rem 0;
      font-size: 1.1rem;
      text-decoration: none;
      color: #AAA;

      &:hover {
        color: #555;
        text-decoration: underline;
      }
    }

    .colors-list {
      @extend %clear;
      background-color: #FFF;
      padding: 1rem;
      border-radius: 4px;

      h4 {
        font-size: 1.2rem;
        font-weight: $medium;
        color: #AAA;
        margin-bottom: 1rem;
      }

      li {
        float: left;
        margin: 0 5px 5px 0;

        label {
          position: relative;
          width: 20px;
          height: 20px;
          display: block;
          border-radius: 50%;
          cursor: pointer;

          input {
            @extend %appareance;
            width: 14px;
            height: 14px;
            background: #FFF;
            border-radius: 50%;
            margin: 3px 0 0 3px;
            cursor: pointer;

            &:checked {
              background: transparent;
            }
          }
        }
      }
    }
  }
}