.fragments-list {
  position: relative;
}

.fragment-popup {
  padding: 10px 0;
}

.fragment-item {
  @include transition(top 0.2s, left 0.2s, opacity 0.5s, transform 0.2s);
  position: absolute;
  top: 0;
  left: 0;
  padding: $grid-side-padding / 2;
  width: 12.5%;

  &.reduce-animations {
    @include transition(opacity 0.5s, transform 0.2s);
  }

  &.appearing, &.removing {
    opacity: 0;
    transform: scale(0.4);
  }

  @include below (1900px) {
    width: 16.666%;
  }

  @include below (1450px) {
    width: 20%;
  }

  @include below (1150px) {
    width: 25%;
  }

  @include below (900px) {
    width: 33.33%;
  }

  @include below ($break-phone) {
    width: 100%;
    position: relative !important;
    top: auto !important;
    left: auto !important;
    padding-top: 0;

    // No animations
    @include transition(none);
  }

  .wrapper {
    @include transition(box-shadow 0.3s);
    border-radius: 5px;
    background-color: #FFF;
    border-bottom: 1px solid #D8D8D8;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.05);

    .menu-handle {
      position: absolute;
      top: 1.5rem;
      right: 1rem;
      width: 22px;
      height: 22px;
      opacity: 0.2;
      z-index: 1;
      display: none;

      &:hover {
        opacity: 0.6;
      }

      .is-touch & {
        display: block;
      }

      span {
        width: 3px;
        height: 3px;
        border-radius: 50%;
        display: block;
        background-color: #000;
        margin: 2px auto 0;

        &:first-child {
          margin-top: 4px;
        }
      }
    }

    &:hover {
      box-shadow: 1px 1px 20px rgba(0,0,0,0.1);
      border-bottom-color: #CCC;

      .menu-handle {
        display: block;
      }
    }

    .images {
      position: relative;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      height: 160px;
      overflow: hidden;

      @include below ($break-phone) {
        height: 190px;
      }

      .img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: no-repeat center / cover;
        display: none;

        &.lead {
          display: block;
        }
      }

      .actions {
        @extend %vertically-centered;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;

        a {
          background-color: rgba(0, 0, 0, 0.4);
          color: rgba(255,255,255,0.9);
          font-size: 1rem;
          font-weight: 600;
          text-decoration: none;
          padding: 6px 10px;
          border-radius: 15px;
          opacity: 0.5;

          &:hover {
            opacity: 1;
          }

          &[data-remove-thumbnail] {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            text-align: center;
            border-radius: 0;
            background-color: transparent;

            &:hover {
              background-color: rgba(0, 0, 0, 0.2);
            }
          }
        }
      }
    }

    .content {
      position: relative;
      padding: 2rem;

      h2, p {
        @include transition(background 0.2s);
        position: relative;
        word-break: break-word;
        white-space: pre-wrap;

        &:before {
          @include transition(opacity 0.4s);
          content: "";
          position: absolute;
          top: 0;
          left: -6px;
          width: 5px;
          height: 100%;
          background-color: #FAFAFA;
          border-left: 1px solid #EEE;
          opacity: 0;
        }
      }

      h2 {
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 1.4;
        margin-bottom: 0.5rem;

        @include below ($break-phone) {
          font-size: 1.6rem;
        }
      }

      p {
        font-size: 1.2rem;
        line-height: 1.4;

        @include below ($break-phone) {
          font-size: 1.3rem;
        }
      }

      .progress-bar {
        overflow: hidden;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
      }

      .link {
        @extend %ellipsis;
        display: block;
        font-size: 1rem;
        text-decoration: none;
        color: #2578EE;
        margin: 1rem 0 0.6rem;

        @include below ($break-phone) {
          font-size: 1.2rem;
        }

        i {
          display: none;
          vertical-align: middle;
        }

        &:hover {

          i {
            display: inline;
          }
        }
      }

      .date {
        display: block;
        font-size: 1rem;
        text-decoration: none;
        color: #AAA;

        @include below ($break-phone) {
          font-size: 1.2rem;
        }

        i {
          display: none;
          vertical-align: middle;
        }

        &:hover {
          color: #666;
          cursor: pointer;

          i {
            display: inline;
          }
        }
      }

      .tags {
        margin: 1.2rem 0 1rem;

        &:last-child {
          margin-bottom: 0;
        }

        .tag {
          @extend %tag;
          max-width: 80%;

          @include below ($break-phone) {
            font-size: 1.2rem;
          }

          &.picture {
            width: 20px;
            height: 20px;
            background: no-repeat center;
            background-size: cover;
            border: 0;

            @include below ($break-phone) {
              width: 22px;
              height: 22px;
            }
          }

          &.can-be-removed {
            position: relative;
            padding-right: 1.6rem;

            span {
              @include transform(rotate(45deg));
              position: absolute;
              font-size: 1.8rem;
              top: 1px;
              right: 5px;
            }

            &:hover {
              border-color: #E9685E;
              background-color: #E9685E;
              color: #FFF;
            }
          }

          &[data-add-tag] {
            font-weight: $bold;
          }

          &[data-new-tag] {
            color: #555;
            border-color: #555;
            font-weight: $bold;
            cursor: text;
          }
        }
      }

      .comments {
        background: #FAFAFA;
        padding: 10px 20px;
        border-top: 1px solid #EEE;
        border-bottom: 1px solid #EEE;
        margin: 0 -20px 10px -20px;

        > a {
          font-size: 1.2rem;
          color: #999;
          text-decoration: none;

          @include below ($break-phone) {
            font-size: 1.3rem;
          }

          span {
            display: none;
            color: #CCC;
          }

          &:hover {

            span {
              display: inline;
            }
          }
        }

        li {
          display: flex;
          margin-bottom: 12px;

          &:last-child {
            margin-bottom: 0;
          }

          aside {
            margin-right: 10px;

            @include below ($break-phone) {
              margin-right: 14px;
            }

            img {
              width: 20px;
              height: 20px;
              border-radius: 50%;

              @include below ($break-phone) {
                width: 26px;
                height: 26px;
              }
            }
          }

          .text {
            flex: 1;

            p {
              margin: 0;
              font-size: 1.2rem;
              padding-top: 1px;

              @include below ($break-phone) {
                font-size: 1.3rem;
                margin-top: -3px;
              }
            }

            .time {
              font-size: 1rem;
              margin-top: 2px;
              line-height: 1.3;
              color: #AAA;

              @include below ($break-phone) {
                font-size: 1.1rem;
              }
            }

            input {
              width: 100%;
              border: 0;
              background-color: transparent;
              height: 20px;
              line-height: 20px;
              font-size: 1.2rem;

              @include below ($break-phone) {
                font-size: 1.3rem;
                margin-top: 3px;
              }
            }
          }
        }
      }
    }

    .collections {

      li {
        flex: 0 1 auto;
        @include transition(padding 0.4s);
        min-height: 3px;
        text-align: center;
        display: block;

        .name {
          @include transition(transform 0.15s);
          display: none;
          text-decoration: none;
          font-size: 1rem;
          text-transform: uppercase;
          line-height: 1;
          color: rgba(0,0,0,0.5);
        }

        &:last-child {
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
        }

        &:hover {

          .name {
            font-weight: $bold;
            @include transform(scale(1.1));
          }
        }
      }

      &:hover {

        li {
          padding: 0.4rem 2rem;

          .name {
            display: block;
          }
        }
      }
    }
  }

  &.submit {
    z-index: 1;

    .wrapper {

      &:hover {
        cursor: default;
      }

      .content {

        input {
          border: 0;
          width: 100%;
          font-size: 2rem;
          margin-bottom: 1rem;
          color: #666;
        }

        label {
          font-size: 1rem;

          @include below ($break-phone) {
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  &.in-modal {
    z-index: 4;

    .wrapper {
      cursor: default;
      box-shadow: 1px 1px 22px rgba(0,0,0,0.15);

      .content {

        h2:hover, p:hover {
          cursor: text;
        }

        h2, p {
          background-color: #FAFAFA;

          &:before {
            opacity: 1;
          }
        }
      }

      .collections {

        li {
          padding: 0.4rem 2rem;

          &:last-child {
            margin-bottom: -1px;
          }

          .name {
            display: block;
          }
        }
      }
    }
  }

  &.with-preview {

    .wrapper {

      .menu-handle {

        span {
          width: 5px;
          height: 5px;
          border: 1px solid rgba(255,255,255,1);
          margin-top: 1px;
        }
      }
    }
  }
}