#header {
  position: fixed;
  height: $header-height;
  top: 0;
  width: 100%;
  background-color: #FFF;
  z-index: 2;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);

  .row {
    @extend .flex;
  }

  .left-section {
    flex: 0 1 auto;
    min-width: 30%;
    padding-right: 1rem;
  }

  .middle-section {
    flex: 1;
    justify-content: center;
  }

  .right-section {
    flex: 0 1 auto;
    min-width: 30%;
    text-align: right;

    > div {
      float: right;
    }
  }

  .title-bar {
    line-height: $header-height;

    h1 {
      font-weight: $medium;
      font-size: 2.1rem;
    }
  }

  .search-bar {
    display: flex;
    margin: 10px 0;
    padding: 0 16px;
    background: #F5F5F5;
    border-radius: 4px;
    height: 40px;
    white-space: nowrap;

    .search-icon {
      fill: rgba(0,0,0,0.3);
      margin: 8px 15px 0 0;
      vertical-align: top;

      svg {
        width: 24px;
        height: 24px;
      }
    }

    .input {
      flex: 1;
      height: 100%;

      input {
        width: 100%;
        height: 100%;
        display: inline-block;
        border: 0;
        background-color: transparent;
        font-size: 1.6rem;
        font-weight: $medium;
      }
    }
  }

  .user {
    position: relative;

    .handle {
      $size: 3.5rem;
      width: $size;
      height: $size;
      border-radius: 50%;
      background-color: #DDD;
      background-size: cover;
      background-position: center;
      margin: 1.2rem 0 0 0;
      display: block;
    }
  }

  .user-tooltip {
    position: absolute;
    top: 0;
    right: 0;
    background: #FFF;
    border: 1px solid #EEE;
  }
}