#modal {
  @include transition(all 0.4s);
  position: fixed;
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  opacity: 0;
  visibility: hidden;

  .with-modal & {
    opacity: 1;
    visibility: visible;
  }
}