#notifications {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 101;

  .notification {
    padding: 1rem 2rem;

    &.error {
      background-color: $color-error;
    }

    p {
      color: #FFF;
      text-align: center;
    }
  }
}