#notifications {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 101;

  .notification {
    padding: 1rem 2rem;
    box-shadow: 0 0 4px rgba(0,0,0,0.1);

    &.error {
      background-color: $color-error;
    }

    &.success {
      background-color: $color-success;
    }

    p {
      color: #FFF;
      text-align: center;
    }
  }
}