<template name="userNotification">
  <li class="{{#unless read_at}}unread{{/unless}}">
    <div class="pic">
      <img src={{from.picture}} alt={{from.name}} />
    </div>
    <div class="content">
      <div class="text">
        {{#if equals type 'comment'}}
          <p><strong>{{from.name}}</strong> commented
          {{#if fragment}}
            on <strong>{{fragment.title}}</strong>
          {{/if}}
          <i>"{{data.comment}}"</i></p>
        {{/if}}
        {{#if equals type 'fragment-added'}}
          <p>
            <strong>{{from.name}}</strong> added a new fragment
            {{#if fragment}}
              under
              {{#each fragment.collections}}
                <span style="background-color:{{color}};">{{name}}</span>
              {{/each}}
            {{/if}}.
          </p>
          {{#if fragment}}
            <div class="preview">
              {{#if fragment.lead_image}}
                <div class="img" style="background-image: url({{fragment.lead_image}})"></div>
              {{/if}}
              <div class="body">
                <h3>{{fragment.title}}</h3>
                <a href={{fragment.url}} target="_blank">{{fragment.domain}} <i class="fa fa-external-link"></i></a>
              </div>
            </div>
          {{/if}}
        {{/if}}
      </div>
      <div class="time">
        {{timeAgo created_at}}
        {{#unless read_at}}
          &bull; <a href="#">Mark as read <i class="fa fa-check"></i></a>
        {{/unless}}
      </div>
    </div>
  </li>
</template>