<template name="fragmentItem">
  <div class="fragment-item {{#if isFetching}}is-fetching{{/if}} {{#if isEditing}}in-modal{{/if}}">
    <div class="wrapper">
      {{#if images}}
        <div class="images">
          {{#each images}}
            <div class="img {{#if equals ../lead_image url}}lead{{/if}}" data-url={{url}}, style="{{#if equals ../lead_image url}}background-image:url({{url}}){{/if}}"></div>
          {{/each}}
        </div>
      {{/if}}
      <div class="content">
        {{#if isFetching}}{{> progressBar}}{{/if}}

        <h2>{{{title}}}</h2>
        <p>{{{description}}}</p>
        {{#if entities}}
          <div class="tags">
            {{#each entities}}
              <li>{{this}}</li>
            {{/each}}
          </div>
        {{/if}}
        <a class="link" href={{url}} target="_blank">{{domain}}</a>
        <div class="date">{{timeAgo created_at}}</div>
      </div>
    </div>
  </div>
</template>