<template name="fragmentSubmit">
  <div class="fragment-item submit">
    <div class="wrapper">
      <div class="content">
        <form>
          <input type="text" name="url" placeholder="e.g. example.org" spellcheck="false" autocapitalize="off" autocorrect="off" autocomplete="off" />
          {{#if currentTag}}
            <ul class="tags">
              <li class="tag">+ {{currentTag}}</li>
            </ul>
          {{else}}
            <label for="body">
              Save new link
              {{#if currentCollection}}
                under <strong>{{currentCollection.name}}</strong>
              {{/if}}
            </label>
          {{/if}}
        </form>
      </div>
      {{#if currentCollection}}
      <ul class="collections">
        {{#with currentCollection}}
          {{> fragmentItemCollection}}
        {{/with}}
      </ul>
      {{/if}}
    </div>
  </div>
</template>