<template name="fragmentsList">
  {{#if isBusy}}
    {{> loading}}
  {{else}}
    {{#if textSearch}}
      {{#if isEmpty}}
        <div class="middle-box box padded message-box">
          <img src="/assets/img/bigs/no-results.png" class="lead-icon"/>
          <h2>No results</h2>
          <p>Unfortunately we have found no results for <strong>{{textSearch}}</strong>{{#if currentCollection}}in the {{currentCollection.name}} collection{{/if}}.</p>
        </div>
      {{/if}}
    {{/if}}
  {{/if}}
  <div class="fragments-list stretch-half">
    {{#unless textSearch}}{{> fragmentSubmit }}{{/unless}}
    {{#each fragments}}
      {{> fragmentItem}}
    {{/each}}
  </div>

</template>