<template name="fragmentItem">
  <div class="fragment-item {{#if isEditing}}in-modal{{/if}}">
    <div class="wrapper">
      {{#if images}}
        <div class="images">
          {{#each images}}
            <div class="img {{#if equals ../lead_image url}}lead{{/if}}" data-url={{url}}, style="{{#if equals ../lead_image url}}background-image:url({{url}}){{/if}}"></div>
          {{/each}}
          {{#if isEditing}}
            <div class="actions">
              {{#if hasMany images}}
                <a href="#" data-next-thumbnail>Next image</a>
              {{/if}}
              <a href="#" data-remove-thumbnail>Remove preview</a>
            </div>
          {{/if}}
        </div>
      {{/if}}
      <div class="content">
        {{#if isFetching}}{{> progressBar}}{{/if}}

        <h2 data-title data-save-on-return contenteditable={{isEditing}}>{{{title}}}</h2>
        <p data-description data-save-on-return contenteditable={{isEditing}}>{{{description}}}</p>
        <div class="tags">
          {{#each tags}}
            <a class="tag {{#if isEditing}}can-be-removed{{/if}}" href="#" data-value={{this}}>{{this}}{{#if isEditing}}<span>+</span>{{/if}}</a>
          {{/each}}
          {{#if isAddingTag}}
            <span class="tag" data-new-tag contenteditable=true></span>
          {{else}}
            {{#if isEditing}}
              <a href="#" class="tag" data-add-tag>+ Tag</a>
            {{/if}}
          {{/if}}
        </div>
        <a class="link" href={{url}} target="_blank">{{domain}}</a>
        <div class="date">{{timeAgo created_at}}</div>
      </div>
      {{#if isEditing}}<a href="#" data-delete>+</a>{{/if}}
    </div>
  </div>
</template>