<template name="websiteIndex">
  <section id="teaser">
    <div class="row">
      <div class="content">
        <h1>Collect and organise your articles</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel enim vulputate, placerat arcu sed, imperdiet ipsum. Etiam dolor turpis, congue ut mauris et, placerat laoreet nulla.</p>
        <a href={{pathFor 'login'}} class="button big primary">Sign in or create an account</a>
      </div>
      <aside>
        <div class="image">
          <header>
            <span></span><span></span><span></span>
          </header>
          <div class="bg"></div>
        </div>
      </aside>
    </div>
  </section>
  <section id="features">
    <div class="row">
      <section class="feature">
        <div class="content">
          <h2>Lorem ipsum dolor sit amet</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel enim vulputate, placerat arcu sed, imperdiet ipsum..</p>
        </div>
        <aside>
          <div class="image"></div>
        </aside>
      </section>
      <section class="feature">
        <div class="content">
          <h2>Dolor sit amet</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel enim vulputate, placerat arcu sed, imperdiet ipsum..</p>
        </div>
        <aside>
          <div class="image"></div>
        </aside>
      </section>
      <section class="feature">
        <div class="content">
          <h2>Dolor sit amet</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel enim vulputate, placerat arcu sed, imperdiet ipsum..</p>
        </div>
        <aside>
          <div class="image"></div>
        </aside>
      </section>
    </div>
  </section>
  <section class="emotion">
    <div class="row">
    <h2>Pricing? No, it's just free forever</h2>
    <a href={{pathFor 'login'}} class="button big primary">Create an account</a>
    </div>
  </section>
</template>