<template name="websiteIndex">
  <section id="teaser">
    <div class="row">
      <div class="content">
        <h1>Collect and organise your articles</h1>
        <p>You use too many tools, and they have too many features. Fragments does one thing, and it does marvelously; save your bookmarks into articles and tag them as you go.<br />Did we mention it's <strong>open-source</strong> and <strong>free</strong>?</p>
        <a href={{pathFor 'login'}} class="button big primary">Sign in or create an account</a>
      </div>
      <aside>
        <div class="image">
          <header>
            <span></span><span></span><span></span>
          </header>
          <div class="bg"></div>
        </div>
      </aside>
    </div>
  </section>
  <section id="features">
    <div class="row">
      <section class="feature">
        <div class="content">
          <h2>Expand links to articles</h2>
          <p>Fragments powerful engine will fetch the content of your links into beautiful articles, so you find them more naturally than looking at a table.</p>
        </div>
        <aside>
          <div class="image"></div>
        </aside>
      </section>
      <section class="feature">
        <div class="content">
          <h2>Powerful search</h2>
          <p>Your fragments can be tagged into boards and tags, but you can even search them by a day or a word you remember.</p>
        </div>
        <aside>
          <div class="image"></div>
        </aside>
      </section>
      <section class="feature">
        <div class="content">
          <h2>Community driven</h2>
          <p>We love open-source, and our little community is constantly expanding the software with new features which make it snappier day by day.</p>
        </div>
        <aside>
          <div class="image"></div>
        </aside>
      </section>
    </div>
  </section>
  <section class="emotion">
    <div class="row">
    <h2>Pricing? No, it's just free and open-source</h2>
    <a href={{pathFor 'login'}} class="button big primary">Create an account</a>
    </div>
  </section>
</template>