<template name="websiteLayout">
  {{> fontLoader}}
  <main id="website" role="main">
    <header id="website-header">
      <div class="row">
        <div class="brand">
          <a href="/">Fragments</a>
        </div>
        <div class="actions">
          <a href={{pathFor 'login'}} class="button primary">Log in</a>
          <a href={{pathFor 'login'}} class="button transparent">Sign up</a>
        </div>
      </div>
    </header>
    <div id="website-main">
      {{> yield}}
    </div>
    <footer id="website-footer">
      <div class="row">
        <h3>2015&copy; Fragments</h3>
      </div>
    </footer>
  </main>
</template>