<template name="websiteLayout">
  {{> fontLoader}}
  <main id="website" role="main">
    <header id="website-header">
      <div class="row">
        <div class="brand">
          <a href="/" title="Fragments.me">Fragments</a>
        </div>
        <div class="actions">
          <a href={{pathFor 'login'}} class="button primary" title="Log in with your account">Log in</a>
          <a href={{pathFor 'login'}} class="button transparent" title="Create a new account">Sign up</a>
        </div>
      </div>
    </header>
    <div id="website-main">
      {{> yield}}
    </div>
    <footer id="website-footer">
      <div class="row">
        <h3>2016-2017&copy; <a rel="author" target="_blank" title="Nicholas Valbusa" href="http://nicholas.valbusa.me">Nicholas Valbusa</a> <a title="Fragments on GitHub" href="//github.com/squallstar/fragments" target="_blank"><i class="fa fa-github"></i></a></h3>
      </div>
    </footer>
  </main>
</template>
