<template name="header">
  <header id="header">
    <div class="row flex">
      <div class="left-section title-bar">
        <h1>SectionName</h1>
      </div>
      <div class="middle-section">
        {{> header_search_bar}}
      </div>
      <div class="right-section">
        <div>
          <div class="user">
            <a href="#" data-toggle-tooltip class="handle" alt="{{currentUser.profile.name}}" style="background-image: url({{currentUser.profile.picture}})"></a>
            {{#if userTooltipIsOpen}}
              {{> header_user_tooltip}}
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </header>
</template>